#page3 .container h1 {
    background-image: url(../images/faixaathos.jpg);
    background-size: 100% 100%;
    padding: 30px 0px;
    text-align: center;
    color: #e2e2e2;
}

#page3 .content h2 {
    margin: 30px auto 20px 5px;
}

#page3 .content p {
    margin: 30px auto;
} 

#page3 .content hr {
    border: 2px solid #b99913;
    width: 350px;
    margin-left: 0;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #b99913;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    margin: 3px auto;
  }

.active, .accordion:hover {
    background-color: #ccc;
  }

.panel {
    padding: 0 18px;
    background-color: #f2f2f2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }